@{
    Layout = "_Index";
}

<style>
    .container {
        display: block;
        width: 99%;
        height: 98%;
        padding: 3px;
    }

    div.toolLine {
        display: block;
        width: 100%;
        height: 8%;
        border: 1px solid #ccc;
    }

    div.searchBar {
        display: inline;
        padding-left: 10px;
    }

    div.buttonBar {
        display: inline;
        border: 0px solid black;
        float: right;
        padding-right: 10px;
    }

    .tableContent {
        display: block;
        width: 100%;
        height: 91%;
        border-bottom: 1px solid #ccc;
    }
</style>

<div class="container">
    <div class="toolLine">
        <div class="searchBar">
            <input id="keyWord" class="width_200 default-input rounded" type="text" placeholder="请输入关键字">
            <button id="btn_search" class="btn blue rounded"><i class="fa fa-search"></i>查询</button>
        </div>
        <div class="buttonBar">
            <button id="btn_refresh" class="btn"><i class="fa fa-refresh"></i>刷新</button>
            <button id="btn_add" class="btn blue"><i class="fa fa-plus"></i>新增</button>
            <button id="btn_edit" class="btn green"><i class="fa fa-edit"></i>修改</button>
            <button id="btn_remove" class="btn red"><i class="fa fa-remove"></i>删除</button>
        </div>
    </div>
    <div class="tableContent">
        <div class="jkf_grid_tbl" id="DataAuthorizeTable"></div>
    </div>
</div>
<script>
    var parentIframe = null;
    var currentIframe = null;

    var $gridTable = null;
    var objectId = request('objectId');
    var objectType = request('objectType');


    var jfkInit = (function ($, jkf) {

        currentIframe = jkf.getIframeByElement(document.body);
        jkf.dataAuthorizeIframe = currentIframe;

        $openIframe = $(currentIframe);

        var colHeaders = [
            { columnName: 'DataAuthorizeId', width: 30, showName: 'DataAuthorizeId', hidden: true, align: 'center' },
            {
                columnName: 'InterfaceName', width: 200, showName: '接口名称', align: 'left', sort: true,
                formatter: function (colValue, rowData) {
                    return rowData.Interface.Name;
                },
            },
            {
                columnName: 'InterfaceAddress', width: 400, showName: '接口地址', align: 'left', sort: true,
                formatter: function (colValue, rowData) {
                    return rowData.Interface.Address;
                },
            },
            {
                columnName: 'EnabledMark', width: 100, showName: '是否有效', align: 'center',
                formatter: function (colValue, rowData) {
                    if (colValue == 1) {
                        return "<i class='fa fa-check'></i>";
                    }
                },
            },

        ]

        $gridTable = $('#DataAuthorizeTable').jkfGrid({
            remoteAddress: '/Base/DataAuthorize/GetDataAuthorizes?objectType=' + objectType + '&objectId=' + objectId,
            columnHeaders: colHeaders,
            mainId: 'DataAuthorizeId',
            showNumber: true,
            hasPager: true,
            pageSize: 20,
            hasCheckBox: true,
            sortField: 'DataAuthorizeId',
            sortOrder: 'asc'
        });

        $gridTable.getRemoteData(null, true);

        $('#btn_refresh').click(function () {
            window.location.reload();
        });

        $("#btn_search").click(function () {
            if ($gridTable != null) {
                var keyWord = $("#keyWord").val().trim();
                $gridTable.getRemoteData({ keyWord });
            }
        });
        $("#keyWord").keypress(function (e) {

            if (e.keyCode == 13) {
                var keyWord = $("#keyWord").val().trim();
                $gridTable.getRemoteData({ keyWord });
            }
        });

        $gridTable.setTableLineDbclick(function ($tr) {

            $("#btn_edit").trigger("click");

        });

        $("#btn_add").click(function () {
            $gridTable.openFrameWindow({
                title: "新增-数据权限",
                width: 1300,
                height: 700,
                level: 2,
                url: '/Base/DataAuthorize/Form?objectType=' + objectType + '&objectId=' + objectId,
                data: null,
                hasMaxButton: true,
                hasMinButton: true,
                hasCloseButton: true,
                parentFrameId: $openIframe.attr("id"),
                isWizard: false,
                buttonGroup: [
                    {
                        buttonId: "button_save",
                        buttonText: "保存",
                        buttonClickAction: function () {
                            var openWin = top.jkf.dataAuthorizeIframe.contentWindow;
                            openWin.saveForm();

                        }
                    }
                ],
            })

        })

        $("#btn_edit").click(function () {

            var dataAuthorizeId = $gridTable.getSelectRowValue("DataAuthorizeId");
            if (!dataAuthorizeId) {
                top.jkf.showTips('没有选中任何行', 3);
                return;
            }
            if (dataAuthorizeId.indexOf(',') > 0) {
                top.jkf.showTips('只能选择一行编辑', 3);
                return;
            }

            $gridTable.openFrameWindow({
                title: "编辑--数据权限",
                width: 1300,
                height: 700,
                level: 1,
                url: '/Base/DataAuthorize/Form?dataAuthorizeId=' + dataAuthorizeId + '&objectType=' + objectType + '&objectId=' + objectId,
                data: null,
                hasMaxButton: true,
                hasMinButton: true,
                hasCloseButton: true,
                parentFrameId: $openIframe.attr("id"),
                isWizard: false,
                buttonGroup: [
                    {
                        buttonId: "button_save",
                        buttonText: "保存",
                        buttonClickAction: function () {
                            var openWin = top.jkf.dataAuthorizeIframe.contentWindow;
                            openWin.saveForm();

                        }
                    }
                ],
            })

        })

        $("#btn_remove").click(function () {
            var dataAuthorizeId = $gridTable.getSelectRowValue("DataAuthorizeId");
            if (!dataAuthorizeId) {
                top.jkf.showTips('没有选中任何行', 3);
                return;
            }

            top.jkf.confirmFrame("是否确认删除？", function () {

                $.httpPostAsync({
                    url: '/Base/DataAuthorize/RemoveForm', param: { dataAuthorizeId: dataAuthorizeId }
                }, function (res) {
                    if (res.code == 200) {
                        top.jkf.showTips("删除成功！", 1);
                        refreshData();
                    } else {
                        top.jkf.showTips(res.errMsg, 2);
                    }

                })
            })

        })
    });

    function refreshData() {
        //alert(1);
        if ($gridTable != null) {
            var keyWord = $("#keyWord").val().trim();
            $gridTable.getRemoteData({ keyWord });
        }
    }

</script>

