@{
    Layout = "_Form";
}

<div id="Form" class="form" style="display: none; overflow:auto;height: 85%; border: 0px solid red;">

    <div class="form_row">
        <div class="form_item_half">
            <div class="labelText"><label class="form_label" for="Number">编号</label></div>
            <input id="Number" type="text" data-required="true" class="default-input" data-type="text" style="width:200px;height:34px;" />
        </div>
        <div class="form_item_half">
            <div class="labelText"><label class="form_label" for="Name">名称</label></div>
            <input id="Name" type="text" data-required="true" class="default-input" data-type="text" style="width:200px;height:34px;" />
        </div>
    </div>
    <div class="form_row">
        <div class="form_item_half">
            <div class="labelText"><label class="form_label" for="Level">用户等级</label></div>
            <input id="Level" type="text" data-required="true" class="default-input" data-type="text_select" readonly="readonly" style="width:200px;height:34px;" />
        </div>
        <div class="form_item_half">
            <div class="labelText"><label class="form_label" for="Phone">手机</label></div>
            <input id="Phone" type="text" data-required="" class="default-input" data-type="text" style="width:200px;height:30px;" />
        </div>
    </div>
    <div class="form_row">
        <div class="form_item_half">
            <div class="labelText"><label class="form_label" for="Contact">联系人</label></div>
            <input id="Contact" type="text" data-required="" class="default-input" data-type="text" style="width:200px;height:34px;" />
        </div>
        <div class="form_item_half">
            <div class="labelText"><label class="form_label" for="Email">邮箱</label></div>
            <input id="Email" type="text" data-required="" class="default-input" data-type="text" style="width:200px;height:34px;" />
        </div>
    </div>
    <div class="form_row">
        <div class="form_item_half">
            <div class="labelText"><label class="form_label" for="Actived">激活状态</label></div>
            <input class="blue" type="radio" value="1" name="Actived" checked="checked">是
            <input class="blue" type="radio" value="0" name="Actived">否
            <input id="Actived" class="width_200 default-input" type="hidden" data-type="radio" />
        </div>
        <div class="form_item_half">
            <div class="labelText"><label class="form_label" for="ArearsStatus">欠款状态</label></div>
            <input class="blue" type="radio" value="1" name="ArearsStatus" checked="checked">是
            <input class="blue" type="radio" value="0" name="ArearsStatus">否
            <input id="ArearsStatus" class="width_200 default-input" type="hidden" data-type="radio" />
        </div>
    </div>
    <div class="form_row">
        <div class="form_item_half">
            <div class="labelText"><label class="form_label" for="InitialArearsAmount">期初欠款金额</label></div>
            <input id="InitialArearsAmount" type="text" data-required="" class="default-input" data-type="integer" style="width:200px;height:34px;" />
        </div>
        <div class="form_item_half">
            <div class="labelText"><label class="form_label" for="Remark">备注</label></div>
            <textarea id="Remark" class="default-input" data-type="text" style="width:250px;height:50px;"></textarea>
        </div>
    </div>
</div>
<script>
    var parentIframe = null;
    var currentIframe = null;
    var Erp_CustomerId = request('Erp_CustomerId');
    var Erp_Customer = {};

    var formValidator = null;

    $("#Number").attr("data-check-exists-url", "/Erp/Customer/IsExistNumber?keyValue=" + Erp_CustomerId);
    $("#Name").attr("data-check-exists-url", "/Erp/Customer/IsExistName?KeyValue=" + Erp_CustomerId);

    var jfkInit = (function ($, jkf) {

        currentIframe = jkf.getIframeByElement(document.body);
        jkf.openIframe = currentIframe;

        $openIframe = $(currentIframe);

        var parentIframeId = $openIframe.attr('data-parentId');

        if (top.frames[parentIframeId].contentWindow != undefined) {
            parentIframe = top.frames[parentIframeId].contentWindow;
        }
        else {
            parentIframe = top.frames[parentIframeId];
        }

        setTimeout(function () {
            $("body").niceScroll({
                'cursorcolor': '#999999',
                'cursorborder': 'none',
                'smoothscroll': 'true',
                'autohidemode': true,
                'horizrailenabled': true,
                'enablemousewheel': true,
                'oneaxismousemode': "auto",
            });
        }, 50);

        $.setSelect({
            url: "/Base/DataItems/GetDataItemDetailsByItemCode?itemCode=CustomerLevel",
            textCtrlId: "Level",
            ctrlId: "Level_select",
            idKey: "ItemValue",
            valueKey: "ItemName",
            width: 200,
            height: 250
        })

        //var FormId = $openIframe.attr("id").replace("iframe_", "frameWindow_");
        //var $Form = jkf.$topBody.find("#" + FormId);
        //jkf.processAuthorizedForms($("#Form"));
        $("#Form").show();

        if (!!Erp_CustomerId) {
            getForm();
        }

        formValidator = $("#Form").formValidator()
    });


    function getForm() {

        var res = $.httpGet({
            url: '/Erp/Customer/GetForm', param: { Erp_CustomerId: Erp_CustomerId }

        });

        if (res.code == 200) {
            Erp_Customer = res.datas;

            $.setFormData(Erp_Customer, $("#Form"));
        }

    }

    function saveForm() {

        if (!formValidator.valid()) {
            return false;
        }

        if (!!Erp_CustomerId) Erp_Customer.Erp_CustomerId = Erp_CustomerId;
        $.getFormData(Erp_Customer, $("#Form"));

        $.httpPostAsync({ url: '/Erp/Customer/SaveForm', param: Erp_Customer }, function (res) {
            if (res.code == 200) {
                top.jkf.showTips("保存成功！", 1);
                if (parentIframe != null) {
                    parentIframe.refreshData();
                }
                window.location.reload();
            } else {
                top.jkf.showTips("保存失败！", 2);
            }

        })
    }
</script>