@{
    Layout = "_Form";
}
<style>
    #productListTable {
        border-collapse: collapse;
        border: 1px solid lightgray;
    }

        #productListTable tr, #productListTable td {
            border-collapse: collapse;
            border: 1px solid lightgray;
        }

        #productListTable td {
            width: 200px;
            height: 32px;
        }
</style>
<div style="text-align:center;"><h5>退货单据信息</h5></div>
<div id="Form" class="form" style="overflow:auto;height:fit-content; border: 0px solid red;">
    <div id="Form" class="form" style="overflow:auto;height:fit-content; border: 0px solid red;">
        <div class="form_row">
            <div class="form_item_half">
                <div class="labelText"><label class="form_label" for="Number">退货编号</label></div>
                <input id="Number" type="text" data-required="true" readonly="readonly" class="default-input" data-type="text" style="width:200px;height:30px;" />
            </div>
            <div class="form_item_half">
                <div class="labelText"><label class="form_label" for="Number2">销售单号</label></div>
                <input id="Number2" type="text" data-required="true" readonly="readonly"  class="default-input" data-type="text_select" style="width:200px;height:30px;" />
            </div>
        </div>
        <div class="form_row">
            <div class="form_item_half">
                <div class="labelText"><label class="form_label" for="CustomerId">客户</label></div>
                <input id="CustomerId" type="text" data-required="true" readonly="readonly"  class="default-input" data-type="text_select" style="width:200px;height:30px;" />
            </div>
            <div class="form_item_half">
                <div class="labelText"><label class="form_label" for="WarehouseId">仓库</label></div>
                <input id="WarehouseId" type="text" data-required="true" readonly="readonly" class="default-input" data-type="text_select" style="width:200px;height:30px;" />
            </div>
        </div>
        <div class="form_row" style="height:100px;">
            <div class="form_item_half">
                <div class="labelText"><label class="form_label" for="ProcessTime">处理时间</label></div>
                <input id="ProcessTime" type="text" data-required="true" readonly="readonly"  class="Wdate default-input" data-type="date" onclick="WdatePicker();" style="width:200px;height:30px;" />
            </div>
            <div class="form_item_half">
                <div class="labelText"><label class="form_label" for="Remark">备注</label></div>
                <textarea id="Remark" class="default-input" readonly="readonly" data-type="text" style="width:300px;height:80px;"></textarea>
            </div>
        </div>
</div>
<div style="text-align:center;"><h5>产品信息</h5></div>

<div style="margin-left:50px;">
    <table id="productListTable">
        <tr>
            <td>名称</td>
            <td>编号</td>
            <td>规格</td>
            <td>单位</td>
            <td>销售数量</td>
            <td>销售单价</td>
            <td>退货单价</td>
            <td>退货数量</td>
            <td>退货金额</td>
        </tr>
        <tr>
            <td>合计</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>0</td>
            <td>0</td>
        </tr>

    </table>
</div>
<script>
    var parentIframe = null;
    var currentIframe = null;
    var formValidator = null;
    var data = {};
    var Erp_SalesReturnOrderId = request("Erp_SalesReturnOrderId");

    var jfkInit = (function ($, jkf) {

        currentIframe = jkf.getIframeByElement(document.body);
        jkf.openIframe = currentIframe;

        $openIframe = $(currentIframe);

        var parentIframeId = $openIframe.attr('data-parentId');

        if (top.frames[parentIframeId].contentWindow != undefined) {
            parentIframe = top.frames[parentIframeId].contentWindow;
        }
        else {
            parentIframe = top.frames[parentIframeId];
        }

        setTimeout(function () {
            $("body").niceScroll({
                'cursorcolor': '#999999',
                'cursorborder': 'none',
                'smoothscroll': 'true',
                'autohidemode': true,
                'horizrailenabled': true,
                'enablemousewheel': true,
                'oneaxismousemode': "auto",
            });
        }, 50);

        $.setSelect({
            url: "/Erp/Customer/GetAll",
            textCtrlId: "CustomerId",
            ctrlId: "CustomerId_select",
            idKey: "ItemValue",
            valueKey: "ItemName",
            width: 200,
            height: 250
        });

        $.setSelect({
            url: "/Erp/Warehouse/GetAll",
            textCtrlId: "WarehouseId",
            ctrlId: "WarehouseId_select",
            idKey: "ItemValue",
            valueKey: "ItemName",
            width: 200,
            height: 250
        });

            $.setSelect({
                url: "/Erp/Sales/GetAll",
                textCtrlId: "Number2",
                ctrlId: "Number2_select",
                idKey: "ItemValue",
                valueKey: "ItemName",
                width: 200,
                height: 250
            });

        //var FormId = $openIframe.attr("id").replace("iframe_", "frameWindow_");
        //var $Form = jkf.$topBody.find("#" + FormId);
        //jkf.processAuthorizedForms($("#Form"));

        if (!!Erp_SalesReturnOrderId) {
            getForm();
        }

        //formValidator = $("#Form").formValidator();

    });

    function getForm() {

        var res = $.httpGet({
            url: '/Erp/SalesReturn/GetForm', param: { Erp_SalesReturnOrderId: Erp_SalesReturnOrderId }

        });

        if (res.code == 200) {
            data = res.datas;
            $.setFormData(data, $("#Form"));

            $("#Number2").data("value", data.SalesOrderId);
            $("#Number2").val($.getSelectValue("#Number2_select", $("body"), data.SalesOrderId));
            res = $.httpGet({
                  url: '/Erp/Sales/GetForm', param: { Erp_SalesOrderId: data.SalesOrderId }
            });

            if (res.code == 200) {
                $("#CustomerId").data("value", res.datas.CustomerId);
                $("#WarehouseId").data("value", res.datas.WarehouseId);
                $("#CustomerId").val($.getSelectValue("#CustomerId_select", $("body"), res.datas.CustomerId));
                $("#WarehouseId").val($.getSelectValue("#WarehouseId_select", $("body"), res.datas.WarehouseId));
            }

            var $toBefored = $("#productListTable").find("tr").last();
            for (var i in data.SalesReturnGoodsList) {
                var data2 = data.SalesReturnGoodsList[i];
                //alert(data2.GoodsId);
                res = $.httpGet({
                    url: '/Erp/Sales/GetSalesGoodsForm', param: { Erp_GoodsId: data2.GoodsId }
                });
                if (res.code == 200) {
                    data3 = res.datas;
                    var trHtml = "<tr id='" + data2.GoodsId + "'>" +
                        "<td>" + data3.Goods.Name + "</td>" +
                        "<td>" + data3.Goods.Number + "</td>" +
                        "<td>" + data3.Goods.Spec + "</td>" +
                        "<td>" + data3.Goods.Unit + "</td>" +
                        "<td>" + data3.SalesQuantity + "</td>" +
                        "<td>" + data3.SalesPrice + "</td>" +
                        "<td>" + data2.ReturnPrice + "</td>" +
                        "<td>" + data2.ReturnQuantity + "</td>" +
                        "<td>" + data2.TotalAmount + "</td>" +
                        "</tr>";
                    $(trHtml).insertBefore($toBefored);
                }
 
            }

            calcTotal();

        }

    }

    // function getProduction() {

    //     var production = [];
    //     var $trs = $("#productListTable").find("tr");
    //     for (i in $trs) {
    //         if (i >= 1 && i < $trs.length - 1) {
    //             var GoodsId = $($trs.get(i)).attr("id");
    //             var PurchaseQuantity = parseInt($($trs.get(i)).find("td:eq(4)").text());
    //             var PurchasePrice = parseFloat($($trs.get(i)).find("td:eq(5)").text());
    //             var TotalAmount = parseFloat($($trs.get(i)).find("td:eq(7)").text());

    //             var item = { GoodsId, PurchaseQuantity, PurchasePrice, TotalAmount }
    //             production.push(item);
    //         }
    //     }
    //     return production;
    // }


    // function saveForm() {


    //     if (!formValidator.valid()) {
    //         return false;
    //     }

    //     if (!formValidator2.valid()) {
    //         return false;
    //     }
    //     if ($("#productListTable").find("tr").length == 2) {
    //         top.jkf.showTips("请填写产品明细！", 3);
    //         return false;
    //     }

    //     //data.Erp_PurchaseOrderId = Id;
    //     $.getFormData(data, $("#Form"));

    //     $.getFormData(data, $("#Form2"));

    //     data.TotalQuantity = parseFloat($("#productListTable").find("tr").last().find("td:eq(4)").text());

    //     var production = getProduction();
    //     data.PurchaseGoodsList = production;

    //     data.PurchaseAccount = { AccountId: $("#AccountId").data("value"), PaymentAmount: parseFloat($("#PaymentAmount").val()) };
    //     $.httpPostAsync({ url: '/Erp/Purchase/SaveForm', param: { Erp_PurchaseOrder: data } }, function (res) {
    //         if (res.code == 200) {
    //             top.jkf.showTips("保存成功！", 1);
    //             if (parentIframe != null) {
    //                 parentIframe.refreshData();
    //             }
    //             window.location.reload();
    //         } else {
    //             top.jkf.showTips("保存失败！", 2);
    //         }
    //     })
    // }

    function calcTotal() {
        var $trs = $("#productListTable").find("tr");
        var $toBefored = $("#productListTable").find("tr").last();
        var totalQuantity = 0;
        var totalAmount = 0;
        for (i in $trs) {
            if (i >= 1 && i < $trs.length - 1) {
                totalQuantity += parseFloat($($trs.get(i)).find("td:eq(7)").text());
                totalAmount += parseFloat($($trs.get(i)).find("td:eq(8)").text());
            }
        }
        $toBefored.find("td").eq(7).text(totalQuantity);
        $toBefored.find("td").eq(8).text(totalAmount);
        //$("#TotalAmount").val(totalAmount);
    }

    // function addNewProduction(data) {

    //     if ($("#productListTable").find("tr#" + data.Erp_GoodsId).length == 1) {
    //         return;
    //     }

    //     var $toBefored = $("#productListTable").find("tr").last();
    //     var trHtml = "<tr id='" + data.Erp_GoodsId + "'>" +
    //         "<td>" + data.Name + "</td>" +
    //         "<td>" + data.Number + "</td>" +
    //         "<td>" + data.Spec + "</td>" +
    //         "<td>" + data.Unit + "</td>" +
    //         "<td>" + data.PurchaseQuantity + "</td>" +
    //         "<td>" + data.PurchasePrice + "</td>" +
    //         "<td>" + data.Rate + "</td>" +
    //         "<td>" + data.TotalAmount + "</td>" +
    //         "<td><button id='delItem'>删除<button></td>" +
    //         +"</tr>";

    //     $(trHtml).insertBefore($toBefored);
    //     calcTotal();

    //     $("#delItem").click(function (e) {
    //         $(this).parent().parent().remove();
    //         calcTotal();
    //     })
    // }

</script>
