
.tipBox {
    position: absolute;
    width: 260px;
    height: 80px;
    opacity: 0.8;
    box-shadow: 0 0 10px #ccc;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    line-height: 80px;
    z-index: 8000;
    color: #fff;
    font-size: 15px;
}

.textContext {
}

.confirmFrame {
    position: absolute;
    width: 280px;
    height: 130px;
    line-height: 26px;
    text-align: center;
    box-shadow: 0 0 10px #ccc;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 9000;
    color: #111;
    font-size: 15px;
    padding: 15px 15px 0px 15px;
    background-color: #fff;
}



    .confirmFrame .bottomLine {
        position: absolute;
        width: 100%;
        bottom: 0px;
        left: 0px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border-top: 1px solid #ccc;
        background-color: #fafafa;
    }

        .confirmFrame .bottomLine button {
            border: 0px !important;
            margin-top: 0px !important;
            padding: 0px 10px 0px 10px !important;
            /*background-color: #fff !important;*/
            color: #fff;
            margin-right: 10px;
        }

.loadingFrame {
    position: absolute;
    background-color: skyblue;
    opacity: 0.9;
    text-align: center;
    z-index: 10000;
    box-shadow: 0 0 10px #ccc;
    padding-top: 20px;
    font-size: 15px;
    
}

.rotate {
    -webkit-animation: changeright 1s linear infinite;
}

 @-webkit-keyframes changeright 
 {
    0% {
    -webkit-transform: rotate(0deg);}

    50% {
    -webkit-transform: rotate(180deg);
    }

    100% {
    -webkit-transform: rotate(360deg);
    }
}

.frameWindow {
    position: absolute;
    background-color: #fafafa;
    box-shadow: #888888 0px 0px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    padding: 0px;
    z-index: 3000;
}

.maskLayer {
    position: absolute;
    background-color: #ccc;
    opacity: 0.2;
    top: 0;
    left: 0;
    /*filter: blur(10px);*/
}

.titleBar {
    border-bottom: 1px solid #ccc;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: #ffffff;
    margin: 0px;
}

.bottomBar {
    position: absolute;
    left: 0px;
    bottom: 0px;
    margin: 0px;
    border-top: 1px solid #ccc;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: #ffffff;
}

.win_title_buttonGroup {
    height: 40px;
    line-height: 40px;
    float: right;
    clear: both;
}

    .win_title_buttonGroup button {
        border: 0px !important;
        margin-top: 0px !important;
        padding: 0px 3px 0px 0px !important;
        background-color: #fff !important;
        color: #111;
    }

.titleText {
    color: #111;
    font-size: 16px;
    margin-left: 10px;
}

.iframe_content {
}

.btn_group {
    float: right;
    clear: both;
    padding-right: 10px;
}

    .btn_group button {
        border: 1px solid #ccc;
        margin-top: 0px !important;
        padding: 0px 6px 0px 6px !important;
        color: #FFF;
    }

        .btn_group button.disabled {
            opacity: 0.5;
        }
