
@{
    Layout = "_Form";
}


<div id="Form" class="form" style="display: none; overflow:auto;height: 85%; border: 0px solid red;">
    <div class="form_row">
        <div class="form_item_half">
            <div class="labelText"><label class="form_label" for="PropertyName">属性名称</label></div>
            <input id="PropertyName" data-required="true" class="width_300 default-input" type="text" data-type="text" data-vale="" />
        </div>
        <div class="form_item_half">
            <div class="labelText"><label class="form_label" for="Name">显示名称</label></div>
            <input id="DisplayName" data-required="true" data-type="text" class="width_300 default-input" type="text" />
        </div>
    </div>
    <div class="form_row">
        <div class="form_item_half">
            <div class="labelText"><label class="form_label" for="PropertyType">属性类型</label></div>
            <input id="PropertyType" data-required="true" readonly="readonly" data-type="text_select" class="width_300 default-input" type="text" />
        </div>
        <div class="form_item_half">
            <div class="labelText"><label class="form_label" for="IsPhysics">物理主键</label></div>
            <input class="blue" type="radio" value="1" name="IsPhysics" />是
            <input class="blue" type="radio" value="0" name="IsPhysics" checked="checked" />否
            <input id="IsPhysics" class="width_300 default-input" type="hidden" data-type="radio" />
        </div>
    </div>

    <div class="form_row">
        <div class="form_item_half">
            <div class="labelText"><label class="form_label" for="IsDataItem">是否字典</label></div>
            <input class="blue" type="radio" value="1" name="IsDataItem" />是
            <input class="blue" type="radio" value="0" name="IsDataItem" checked="checked" />否
            <input id="IsDataItem" class="width_300 default-input" type="hidden" data-type="radio" />
        </div>
        <div class="form_item_half">
            <div class="labelText"><label class="form_label" for="ItemCode">字典项</label></div>
            <input id="ItemCode" data-required="false" class="width_300 default-input" type="text" data-type="text" data-vale="" />
        </div>
    </div>
    <div class="form_row">
        <div class="form_item_half">
            <div class="labelText"><label class="form_label" for="IsParentId">父级属性</label></div>
            <input class="blue" type="radio" value="1" name="IsParentId" />是
            <input class="blue" type="radio" value="0" name="IsParentId" checked="checked" />否
            <input id="IsParentId" class="width_300 default-input" type="hidden" data-type="radio" />
        </div>
        <div class="form_item_half">
            <div class="labelText"><label class="form_label" for="IsRefer">引用属性</label></div>
            <input class="blue" type="radio" value="1" name="IsRefer" />是
            <input class="blue" type="radio" value="0" name="IsRefer" checked="checked" />否
            <input id="IsRefer" class="width_300 default-input" type="hidden" data-type="radio" />
        </div>
    </div>
    <div class="form_row">
        <div class="form_item_half">
            <div class="labelText"><label class="form_label" for="RefEntityName">引用实体</label></div>
            <input id="RefEntityName" data-required="false" class="width_300 default-input" type="text" data-type="text" data-vale="" />
        </div>
        <div class="form_item_half">
            <div class="labelText"><label class="form_label" for="RefPropertyName">引用属性</label></div>
            <input id="RefPropertyName" data-required="false" data-type="text" class="width_300 default-input" type="text" />
        </div>
    </div>
    <div class="form_row">
        <div class="form_item_half">
            <div class="labelText"><label class="form_label" for="RefEntityServiceName">引用服务</label></div>
            <input id="RefEntityServiceName" data-required="false" class="width_300 default-input" type="text" data-type="text" data-vale="" />
        </div>
        <div class="form_item_half">
            <div class="labelText"><label class="form_label" for="IsArea">区域引用</label></div>
            <input class="blue" type="radio" value="1" name="IsArea" />是
            <input class="blue" type="radio" value="0" name="IsArea" checked="checked" />否
            <input id="IsArea" class="width_300 default-input" type="hidden" data-type="radio" />
        </div>

    </div>
    <div class="form_row">
        <div class="form_item_half">
            <div class="labelText"><label class="form_label" for="AreaLayer">区域类型</label></div>
            <input class="blue" type="radio" value="1" name="AreaLayer" checked="checked" />省
            <input class="blue" type="radio" value="2" name="AreaLayer" />市
            <input class="blue" type="radio" value="3" name="AreaLayer" />区
            <input class="blue" type="radio" value="4" name="AreaLayer" />街道
            <input id="AreaLayer" class="width_300 default-input" type="hidden" data-type="radio" />
        </div>
        <div class="form_item_half">
            <div class="labelText"><label class="form_label" for="IsValid">是否有效</label></div>
            <input class="blue" type="radio" value="1" name="IsValid" checked="checked" />是
            <input class="blue" type="radio" value="0" name="IsValid" />否
            <input id="IsValid" class="width_300 default-input" type="hidden" data-type="radio" />
        </div>
    </div>
    <div class="form_row">
        <div class="form_item_half">
            <div class="labelText"><label class="form_label" for="SortCode">排序</label></div>
            <input id="SortCode" data-required="true" data-type="integer" class="width_300 default-input" type="text" />
        </div>
    </div>

</div>
<script>
    var parentIframe = null;
    var currentIframe = null;
    var moduleExcelImportConfigId = request('moduleExcelImportConfigId');
    var moduleExcelImportConfig = {};

    var formValidator = null;
    var moduleName = "";
    //$("#EnCode").attr("data-check-exists-url", "/base/moduleExcelImportConfig/IsExistEnCode?keyValue=" + moduleExcelImportConfigId);
    //$("#Name").attr("data-check-exists-url", "/base/moduleExcelImportConfig/IsExistName?KeyValue=" + moduleExcelImportConfigId);


    var jfkInit = (function ($, jkf) {

        currentIframe = jkf.getIframeByElement(document.body);
        jkf.ImportConfigFormIframe = currentIframe;

        $openIframe = $(currentIframe);

        var parentIframeId = $openIframe.attr('data-parentId');

        if (top.frames[parentIframeId].contentWindow != undefined) {
            parentIframe = top.frames[parentIframeId].contentWindow;
        }
        else {
            parentIframe = top.frames[parentIframeId];
        }

        setTimeout(function () {

            $("body").niceScroll({
                'cursorcolor': '#999999',
                'cursorborder': 'none',
                'smoothscroll': 'true',
                'autohidemode': true,
                'horizrailenabled': true,
                'enablemousewheel': true,
                'oneaxismousemode': "auto",
            });
        }, 50);

       

        var FormId = $openIframe.attr("id").replace("iframe_", "frameWindow_");
        var $Form = jkf.$topBody.find("#" + FormId);
        var data = jkf.GetIFrameWindowData($Form);
        moduleName = data.moduleName;

        //jkf.processAuthorizedForms($("#Form"), authorizedForms);
        $("#Form").show();

        $.setSelect({
            url: "/Base/DataItems/GetDataItemDetailsByItemCode?itemCode=PropertyType",
            textCtrlId: "PropertyType",
            ctrlId: "PropertyType_select",
            idKey: "ItemValue",
            valueKey: "ItemName",
            width: 200,
            height: 250
        })

        $('#PropertyType').bind("change", function (e) {
            $.filterSelection("PropertyType", "PorpertyType_select");
        });

        if (!!moduleExcelImportConfigId) {

            getForm();

        }
        
        formValidator = $("#Form").formValidator()


    });


    function getForm() {

        var res = $.httpGet({
            url: '/Base/Excel/GetImortConfigForm', param: { moduleExcelImportConfigId: moduleExcelImportConfigId }

        });

        if (res.code == 200) {
            moduleExcelImportConfig = res.datas;

            $.setFormData(moduleExcelImportConfig, $("#Form"));
        }

    }

    function saveForm() {

        if (!formValidator.valid()) {
            return false;
        }

        if (!!moduleExcelImportConfigId) moduleExcelImportConfig.moduleExcelImportConfigId = moduleExcelImportConfigId;
        $.getFormData(moduleExcelImportConfig, $("#Form"));

        $.httpPostAsync({
            url: '/Base/Excel/SaveImportConfigForm', param: { moduleExcelImportConfig, moduleName } }, function (res) {
            if (res.code == 200) {
                top.jkf.showTips("保存成功！", 1);
                if (parentIframe != null) {
                    parentIframe.refreshData();
                }
                window.location.reload();
            } else {
                top.jkf.showTips("保存失败！", 2);
            }

        })
    }
</script>
