@{
    Layout = "_Form";
}

<div id="Form" class="form" style="display: none; overflow:auto;height: 85%; border: 0px solid red;">
    <div class="form_row" style="height:60px;">
        <div class="form_item_half">
            <div class="labelText"><label class="form_label" for="NodeName">节点名称</label></div>
            <input id="NodeName" type="text" data-required="true" class="default-input" data-type="text" style="width:200px;height:34px;" />
        </div>
    </div>
    <div class="form_row" style="height:60px;">
        <div class="form_item_full">
            <div class="labelText"><label class="form_label" for="ProcessorTypeRule">处理人类型</label></div>
            <input class="blue" type="radio" value="1" name="ProcessorTypeRule" checked="checked">上级主管
            <input class="blue" type="radio" value="2" name="ProcessorTypeRule">部门经理
            <input class="blue" type="radio" value="3" name="ProcessorTypeRule">总经理
            <input class="blue" type="radio" value="4" name="ProcessorTypeRule">指定人
            <input id="ProcessorTypeRule" class="width_800 default-input" type="hidden" data-type="radio" />
        </div>
    </div>
    <div class="form_row" style="height:110px;">
        <div class="form_item_full">
            <div class="labelText"><label class="form_label" for="ProcessorIds">指定处理人</label></div>
            <textarea id="ProcessorIds" style="max-height:100px;max-width:750px;" class="width_800 height_100 default-input" readonly="readonly" data-type="text"></textarea>
            &nbsp;<button id="selectProcessor" class="btn blue" title="选择"> ... </button>
        </div>
    </div>
</div>
<script>
    var parentIframe = null;
    var currentIframe = null;
    var nodeId = request('nodeId');
    var workFlowDesignId = request('workFlowDesignId');
    var node = {};

    var formValidator = null;

    var jfkInit = (function ($, jkf) {

        currentIframe = jkf.getIframeByElement(document.body);
        jkf.flowDesignFormNodeIframe = currentIframe;

        $openIframe = $(currentIframe);

        var parentIframeId = $openIframe.attr('data-parentId');

        if (top.frames[parentIframeId].contentWindow != undefined) {
            parentIframe = top.frames[parentIframeId].contentWindow;
        }
        else {
            parentIframe = top.frames[parentIframeId];
        }

        setTimeout(function () {
            $("body").niceScroll({
                'cursorcolor': '#999999',
                'cursorborder': 'none',
                'smoothscroll': 'true',
                'autohidemode': true,
                'horizrailenabled': true,
                'enablemousewheel': true,
                'oneaxismousemode': "auto",
            });
        }, 50);

        //var FormId = $openIframe.attr("id").replace("iframe_", "frameWindow_");
        //var $Form = jkf.$topBody.find("#" + FormId);
        //jkf.processAuthorizedForms($("#Form"));

        $("input[name=ProcessorTypeRule]").bind("change", function (e) {
            //alert($(this).attr("value"));
            if ($(this).attr("value") != "4") {
                $("#ProcessorIds").prop("disabled", true);
                $("#ProcessorIds").val("");
            } else {
                $("#ProcessorIds").prop("disabled", false);
            }

        })

        $("#Form").show();
        getForm();

        var initDatas = null;
        if ($("#ProcessorIds").val() != "") {
            initDatas = $("#ProcessorIds").val().split(';');
        } else {
            initDatas = [];
        }

        $("#selectProcessor").click(function (e) {

            top.jkf.openFrame({
                parentFrameId: $openIframe.attr("id"),
                title: "流程节点（审批）设置-选择处理人" + nodeId,
                width: 900,
                height: 600,
                level: 3,
                url: '/WorkFlow/WorkFlowDesign/DesignFormNodeUserSelect?workFlowDesignId=' + workFlowDesignId + "&nodeId=" + nodeId,
                data: initDatas,
                hasMinButton: false,
                hasMaxButton: true,
                hasCloseButton: true,
                isWazard: true,
                buttonGroup: [
                    {
                        buttonId: "button_save",
                        buttonText: "保存",
                        buttonClickAction: function () {
                            var openWin = top.jkf.flowDesignFormNodeUserIframe.contentWindow;
                            openWin.saveForm();

                        }
                    }
                ]
            });

        });

        formValidator = $("#Form").formValidator();

    });

    function getForm() {
        var res = $.httpGet({
            url: '/Workflow/WorkFlowDesign/GetNodeForm', param: { nodeId: nodeId, workFlowDesignId: workFlowDesignId }
        });

        if (res.code == 200) {
            node = res.datas;
            if (node != null)
                $.setFormData(node, $("#Form"));
        }

    }

    function saveForm() {

        if (!formValidator.valid()) {
            return false;
        }
        if (node == null) node = {};
        node.WorkFlowDesignId = workFlowDesignId;
        node.NodeId = nodeId;
        node.NodeType = "zhihui";

        $.getFormData(node, $("#Form"));

        $.httpPostAsync({
            url: '/Workflow/WorkFlowDesign/SaveFormNode', param: node
        }, function (res) {
            if (res.code == 200) {
                top.jkf.showTips("保存成功！", 1);
                if (parentIframe != null) {
                    parentIframe.updateNodeText(node.NodeType, node.NodeId, node.NodeName);
                }
                window.location.reload();
            } else {
                top.jkf.showTips("保存失败！", 2);
            }
        })
    }

    function updateSelectUserDatas(datas) {
        initDatas = datas;
        $("#ProcessorIds").val(initDatas.join(";"));
    }
</script>