@{
    Layout = "_Form";
}


<div id="Form" class="form" style="display: none; overflow:auto;height: 85%; border: 0px solid red;">
    <div class="form_row">
        <div class="form_item_half">
            <div class="labelText"><label class="form_label" for="FullName">部门名称</label></div>
            <input id="FullName" data-required="true" class="width_200 default-input" type="text" data-type="text" data-vale="" />
        </div>
        <div class="form_item_half">
            <div class="labelText"><label class="form_label" for="Nature">部门性质</label></div>
            <input id="Nature" data-required="true" readonly="readonly" data-type="text_select" class="width_200 default-input" type="text" />
        </div>
    </div>
    <div class="form_row">
        <div class="form_item_half">
            <div class="labelText"><label class="form_label" for="EnCode">部门编码</label></div>
            <input id="EnCode" data-required="true" class="width_200 default-input" type="text" data-type="text" data-vale="" />
        </div>
        <div class="form_item_half">
            <div class="labelText"><label class="form_label" for="ShortName">部门简称</label></div>
            <input id="ShortName" data-required="true" class="width_200 default-input" type="text" data-type="text" />
        </div>
    </div>
    <div class="form_row">
        <div class="form_item_half">
            <div class="labelText"><label class="form_label" for="ParentId">上级部门</label></div>
            <input id="ParentId" data-required="true" data-type="text_select" class="width_200 default-input" readonly="readonly" type="text" />
        </div>
        <div class="form_item_half">
            <div class="labelText"><label class="form_label" for="Manager">负责人</label></div>
            <input id="Manager" data-type="text" class="width_200 default-input" type="text" />
        </div>
    </div>
    <div class="form_row">
        <div class="form_item_half">
            <div class="labelText"><label class="form_label" for="OurPhone">电话</label></div>
            <input id="OurPhone" class="width_200 default-input" type="text" data-type="text" />
        </div>
        <div class="form_item_half">
            <div class="labelText"><label class="form_label" for="Fax">传真</label></div>
            <input id="Fax" class="width_200 default-input" type="text" data-type="text" />
        </div>
    </div>
    <div class="form_row">
        <div class="form_item_half">
            <div class="labelText"><label class="form_label" for="SortCode">排序</label></div>
            <input id="SortCode" data-required="true" data-type="integer" class="width_200 default-input" type="text" />
        </div>
        <div class="form_item_half">
            <div class="labelText"><label class="form_label" for="Description">备注</label></div>
            <textarea id="Description" class="height_50 width_250 default-input" data-type="text"></textarea>
        </div>
    </div>
</div>

<script>
    var parentIframe = null;
    var currentIframe = null;
    var companyId = request('companyId');
    var departmentId = request('departmentId')
    var department = {};

    var formValidator = null;


    var jfkInit = (function ($, jkf) {

        $("#EnCode").attr("data-check-exists-url", "/base/department/IsExistEnCode?keyValue=" + departmentId);
        //$("#FullName").attr("data-check-exists-url", "/base/department/IsExistFullName?KeyValue=" + departmentId);
        //$("#ShortName").attr("data-check-exists-url", "/base/department/IsExistShortName?KeyValue=" + departmentId);


        currentIframe = jkf.getIframeByElement(document.body);
        jkf.departmentIframe = currentIframe;

        $openIframe = $(currentIframe);

        var parentIframeId = $openIframe.attr('data-parentId');

        if (top.frames[parentIframeId].contentWindow != undefined) {
            parentIframe = top.frames[parentIframeId].contentWindow;
        }
        else {
            parentIframe = top.frames[parentIframeId];
        }

        setTimeout(function () {

            $("body").niceScroll({
                'cursorcolor': '#999999',
                'cursorborder': 'none',
                'smoothscroll': 'true',
                'autohidemode': true,
                'horizrailenabled': true,
                'enablemousewheel': true,
                'oneaxismousemode': "auto",
            });
        }, 50);


        setTargetSelect();

        var FormId = $openIframe.attr("id").replace("iframe_", "frameWindow_");
        var $Form = jkf.$topBody.find("#" + FormId);
        var data = jkf.GetIFrameWindowData($Form);
        var authorizedForms = data.authorizedForms;
        jkf.processAuthorizedForms($("#Form"), authorizedForms);
        $("#Form").show();

        if (!!departmentId) {
            getForm();
        }

        formValidator = $("#Form").formValidator()


    });





    function setTargetSelect() {

        $.setTreeSelect({
            url: "/Base/Department/GetDepartmentsForSelection?companyId=" + companyId,
            textCtrlId: "ParentId",
            ctrlId: "ParentId_select",
            parentIdKey: "ParentId",
            topParentIdValue: "0",
            idKey: "DepartmentId",
            valueKey: "FullName",
            hideDownLevelKeyValue: departmentId,
            width: 200,
            height: 250
        })

        $.setTreeSelect({
            url: "/Base/DataItems/GetDataItemDetailsByItemCode?itemCode=DepartmentType",
            textCtrlId: "Nature",
            ctrlId: "Nature_select",
            parentIdKey: "ParentId",
            topParentIdValue: "0",
            idKey: "ItemValue",
            valueKey: "ItemName",
            width: 200,
            height: 250
        })
    }

    function getForm() {

        var res = $.httpGet({
            url: '/Base/Department/GetForm', param: { departmentId: departmentId }

        });

        if (res.code == 200) {
            department = res.datas;

            $.setFormData(department, $("#Form"));
        }

    }

    function saveForm() {

        if (!formValidator.valid()) {
            return false;
        }

        if (!!departmentId) department.departmentId = departmentId;
        $.getFormData(department, $("#Form"));

        $.httpPostAsync({
            url: '/Base/Department/SaveForm', param: { companyId: companyId, department: department }
        }, function (res) {
            if (res.code == 200) {
                top.jkf.showTips("保存成功！", 1);
                if (parentIframe != null) {
                    parentIframe.refreshDepartmentData();
                }
                window.location.reload();
            } else {
                top.jkf.showTips("保存失败！", 2);
            }

        })
    }
</script>