@{
    Layout = "_Index";
}

<style>
    .container {
        display: block;
        width: 99%;
        height: 99%;
        padding: 3px;
    }

    div.toolLine {
        display: block;
        width: 100%;
        height: 8%;
        border: 1px solid #ccc;
    }

    div.searchBar {
        display: inline;
        padding-left: 10px;
    }

    div.buttonBar {
        display: inline;
        border: 0px solid black;
        float: right;
        padding-right: 10px;
    }

    .tableContent {
        display: block;
        width: 100%;
        height: 91%;
        border-bottom: 1px solid #ccc;
    }
</style>

<div class="container">
    <div class="toolLine">
        <div class="searchBar">
            <input id="keyWord" class="width_200 default-input rounded" type="text" placeholder="请输入关键字">
            <button id="btn_search" class="btn blue rounded"><i class="fa fa-search"></i>查询</button>
        </div>
        <div class="buttonBar">
            <button id="btn_refresh" class="btn"><i class="fa fa-refresh"></i>刷新</button>
            @* <button id="btn_add" class="btn blue"><i class="fa fa-plus"></i>新增</button>
            <button id="btn_edit" class="btn green"><i class="fa fa-edit"></i>修改</button>
            <button id="btn_remove" class="btn red"><i class="fa fa-remove"></i>删除</button> *@
        </div>
    </div>
    <div class="tableContent">
        <div class="jkf_grid_tbl" id="Erp_FinanceFlowTable"></div>
    </div>
</div>
<script>



    var $gridTable = null;
    var jfkInit = (function ($, jkf) { });
    $(function () {

        var colHeaders = [
            { columnName: 'Erp_FinanceFlowId', width: 200, showName: 'showName', hidden: true, align: 'center' },
            {
                columnName: 'AccountName', width: 150, showName: '账户名称', hidden: false, align: 'left',
                formatter: function (val, rowData) {
                    if (rowData["Account"]) return rowData["Account"].Name;
                    else return "";
                }
            },
            {
                columnName: 'Type', width: 150, showName: '类型', hidden: false, align: 'left',
                formatter: function (val, rowData) {
                    if (val == "Purchase") return "采购";
                    else if (val == "VoidPurchase") return "采购作废";
                    else if (val == "Sales") return "销售";
                    else if (val == "VoidSales") return "销售作废";
                    else if (val == "PurchaseReturn") return "采购退货";
                    else if (val == "VoidPurchaseReturn") return "采购退货作废";
                    else if (val == "SalesReturn") return "销售退货";
                    else if (val == "VoidSalesReturn") return "销售退货作废";
                    else if (val == "StockIn") return "入库";
                    else if (val == "VoidStockIn") return "入库作废";
                    else if (val == "stockOut") return "出库";
                    else if (val == "VoidStockOut") return "出库作废";
                    else if (val == "StockCheck") return "盘点";
                    else if (val == "VoidStockCheck") return "盘点作废";
                    else if (val == "Collection") return "收款";
                    else if (val == "VoidCollection") return "收款作废";
                    else if (val == "Payment") return "付款";
                    else if (val == "VoidPayment") return "付款作废";
                    else if (val == "Charge") return "日常收支";
                    else if (val == "VoidCharge") return "作废日常收支";
                    else if (val == "Transfer") return "转账";
                    else if (val == "VoidTransfer") return "作废转账";
                }
            },
            {
                columnName: 'AmountBefore', width: 150, showName: '变化前金额', hidden: false, align: 'left'
            },
            {
                columnName: 'AmountChange', width: 150, showName: '变化金额', hidden: false, align: 'left'

            },
            {
                columnName: 'AmountAfter', width: 150, showName: '变化后金额', hidden: false, align: 'left'
            },
            {
                columnName: 'CreateUser', width: 150, showName: '创建人', hidden: false, align: 'left',
                formatter: function (val, rowData) {
                    if (rowData["CreateUser"]) return rowData["CreateUser"].RealName;
                    else return "";
                }
            },
            {

                columnName: 'CreateTime', width: 150, showName: '时间', hidden: false, align: 'left', sort: true,
                formatter: function (val, rowData) {
                    if (val) return val.replace("T", " ").substring(0, 19);
                    else return "";
                }
            }
        ];
        //top.jkf.processAuthorizedColumns(colHeaders);

        $gridTable = $('#Erp_FinanceFlowTable').jkfGrid({
            remoteAddress: '/Erp/finance/GetErp_FinanceFlows',
            columnHeaders: colHeaders,
            mainId: 'Erp_FinanceFlowId',
            showNumber: true,
            hasPager: true,
            pageSize: 20,
            hasCheckBox: true,
            sortField: 'CreateTime',
            sortOrder: 'desc'
        });

        $gridTable.getRemoteData(null, true);

        $('#btn_refresh').click(function () {
            window.location.reload();
        });

        $("#btn_search").click(function () {
            if ($gridTable != null) {
                var keyWord = $("#keyWord").val().trim();
                $gridTable.getRemoteData({ keyWord });
            }
        });
        $("#keyWord").keypress(function (e) {

            if (e.keyCode == 13) {
                var keyWord = $("#keyWord").val().trim();
                $gridTable.getRemoteData({ keyWord });
            }
        });

        $gridTable.setTableLineDbclick(function ($tr) {

            $("#btn_edit").trigger("click");

        });

        $("#btn_add").click(function () {
            $gridTable.openFrameWindow({
                title: "新增-供应商",
                width: 1200,
                height: 700,
                level: 1,
                url: '/Erp/FinanceFlow/Form',
                data: null,
                hasMaxButton: true,
                hasMinButton: true,
                hasCloseButton: true,
                parentFrameId: top.jkf.iFrameId,
                isWizard: true,
                buttonGroup: [
                    {
                        buttonId: "button_save",
                        buttonText: "保存",
                        buttonClickAction: function () {
                            var openWin = top.jkf.openIframe.contentWindow;
                            openWin.saveForm();

                        }
                    }
                ],
            })

        })

        $("#btn_edit").click(function () {

            var Erp_FinanceFlowId = $gridTable.getSelectRowValue("Erp_FinanceFlowId");
            if (!Erp_FinanceFlowId) {
                top.jkf.showTips('没有选中任何行', 3);
                return;
            }
            if (Erp_FinanceFlowId.indexOf(',') > 0) {
                top.jkf.showTips('只能选择一行编辑', 3);
                return;
            }

            $gridTable.openFrameWindow({
                title: "编辑--供应商",
                width: 1200,
                height: 700,
                level: 1,
                url: '/Erp/FinanceFlow/Form?Erp_FinanceFlowId=' + Erp_FinanceFlowId,
                data: null,
                hasMaxButton: true,
                hasMinButton: true,
                hasCloseButton: true,
                parentFrameId: top.jkf.iFrameId,
                isWizard: true,
                buttonGroup: [
                    {
                        buttonId: "button_save",
                        buttonText: "保存",
                        buttonClickAction: function () {
                            var openWin = top.jkf.openIframe.contentWindow;
                            openWin.saveForm();

                        }
                    }
                ],
            })

        })

        $("#btn_remove").click(function () {
            var Erp_FinanceFlowId = $gridTable.getSelectRowValue("Erp_FinanceFlowId");
            if (!Erp_FinanceFlowId) {
                top.jkf.showTips('没有选中任何行', 3);
                return;
            }

            top.jkf.confirmFrame("是否确认删除？", function () {

                $.httpPostAsync({
                    url: '/Erp/FinanceFlow/RemoveForm', param: { Erp_FinanceFlowId: Erp_FinanceFlowId }
                }, function (res) {
                    if (res.code == 200) {
                        top.jkf.showTips("删除成功！", 1);
                        refreshData();
                    } else {
                        top.jkf.showTips(res.errMsg, 2);
                    }

                })
            })

        })

        //top.jkf.processAuthorizedButtons(".buttonBar");


    });

    function refreshData() {
        if ($gridTable != null) {
            var keyWord = $("#keyWord").val().trim();
            $gridTable.getRemoteData({ keyWord });
        }
    }

</script>