
@{
    Layout = "_Index";
}

<style>

    .container_left {
        display: block;
        float: left;
        width: 40%;
        height: 98%;
        padding: 3px;
        margin: 3px;
    }

    .container_right {
        display: block;
        float: left;
        width: 57.8%;
        height: 98%;
        padding: 3px;
        padding-left: 0px !important;
        margin: 3px;
    }

    div.layerBar {
        width: 100%;
        font-size: 15px;
        background-color: #fff;
        border: 1px solid #ccc;
        border-bottom: 0;
        text-indent: 10px;
        height: 30px;
        line-height: 30px;
    }

    div.toolLine {
        display: block;
        width: 100%;
        height: 8%;
        border: 1px solid #ccc;
    }

    div.searchBar {
        display: inline;
        padding-left: 10px;
    }

    div.buttonBar {
        display: inline;
        border: 0px solid black;
        float: right;
        padding-right: 10px;
    }

    .tableContent {
        display: block;
        width: 100%;
        height: 86%;
        border-bottom: 1px solid #ccc;
    }
</style>

<div class="container_left" id="dataItemContainer">
    <div class="layerBar">字典分类</div>
    <div class="toolLine">
        <div class="searchBar">
            <input id="keyWord" class="width_150 default-input rounded" type="text" placeholder="请输入关键字">
            <button id="btn_search" class="btn blue rounded"><i class="fa fa-search"></i></button>
        </div>
        <div class="buttonBar">
            <button id="btn_refresh" class="btn"><i class="fa fa-refresh"></i></button>
            <button id="btn_add" class="btn blue"><i class="fa fa-plus"></i></button>
            <button id="btn_edit" class="btn green"><i class="fa fa-edit"></i></button>
            <button id="btn_remove" class="btn red"><i class="fa fa-remove"></i></button>
        </div>
    </div>
    <div class="tableContent">
        <div class="jkf_grid_tbl" id="dataItemTable"></div>
    </div>
</div>
<div class="container_right" id="dataItemDetailContainer">
    <div class="layerBar">字典明细</div>
    <div class="toolLine">
        <div class="searchBar">
            <input id="keyWord" class="width_200 default-input rounded" type="text" placeholder="请输入关键字">
            <button id="btn_search" class="btn blue rounded"><i class="fa fa-search">查询</i></button>
        </div>
        <div class="buttonBar">
            <button id="btn_refresh" class="btn"><i class="fa fa-refresh">刷新</i></button>
            <button id="btn_add" class="btn blue"><i class="fa fa-plus">新增</i></button>
            <button id="btn_edit" class="btn green"><i class="fa fa-edit">修改</i></button>
            <button id="btn_remove" class="btn red"><i class="fa fa-remove">删除</i></button>
        </div>
    </div>
    <div class="tableContent">
        <div class="jkf_grid_tbl" id="dataItemDetailTable"></div>
    </div>
</div>
<div style="clear:both;"></div>
<script>
    var $gridTable_dataItem = null;
    var $gridTable_dataItemDetail = null;
    var selectDataItemId = "";

    var jfkInit = (function ($, jkf) { });
    $(function () {
        var colHeader_DataItem = [
            { columnName: 'DataItemId', width: 30, showName: 'DataItemId', hidden: true, align: 'center' },
            { columnName: 'ParentId', width: 30, showName: 'ParentId', hidden: true, align: 'center' },
            { columnName: 'ItemCode', width: 120, showName: '编码', align: 'left' },
            { columnName: 'ItemName', width: 120, showName: '名称', align: 'left' },
            { columnName: 'SortCode', width: 80, showName: '排序', align: 'left' },
            { columnName: 'Description', width: 200, showName: '备注', align: 'left' },
        ];

        $gridTable_dataItem = $('#dataItemTable').jkfGrid({
            remoteAddress: '/Base/DataItems/GetDataItems',
            columnHeaders: colHeader_DataItem,
            mainId: 'DataItemId',
            treeMode: true,
            treeModeParentId: 'ParentId',
            treeModeLevelColumn: 'ItemName',
            showNumber: true,
        });

        var colHeader_DataItemDetail = [
            { columnName: 'DataItemDetailId', width: 30, showName: 'DataItemId', hidden: true, align: 'center' },
            { columnName: 'ParentId', width: 30, showName: 'ParentId', hidden: true, align: 'center' },
            { columnName: 'ItemName', width: 120, showName: '项目名', align: 'left' },
            { columnName: 'ItemValue', width: 120, showName: '项目值', align: 'left' },
            { columnName: 'SortCode', width: 80, showName: '排序', align: 'left' },
            {
                columnName: 'IsDefault', width: 50, showName: '默认', align: 'center',
                formatter: function (colValue) {
                    if (colValue == 1) {
                        return "<i class='fa fa-check'></i>";
                    } else if (colValue == 0) {
                        return "";
                    }
                },
            },
            { columnName: 'Description', width: 250, showName: '备注', align: 'left' }
        ];

        $gridTable_dataItemDetail = $('#dataItemDetailTable').jkfGrid({
            remoteAddress: '/Base/DataItems/GetDataItemDetails',
            columnHeaders: colHeader_DataItemDetail,
            mainId: 'DataItemDetailId',
            treeMode: true,
            treeModeParentId: 'ParentId',
            treeModeLevelColumn: 'ItemName',
            showNumber: true
        });

        $gridTable_dataItem.setTableLineDbclick(function ($tr) {
            selectDataItemId = $tr.find("td[id*=DataItemId]").text();

            refreshDataItemDetailData();
        });

        $("#dataItemContainer #btn_search").click(function () {
            refreshDataItemData();
        });
        $("#dataItemContainer #btn_refresh").click(function () {
            $gridTable_dataItem.getRemoteData({ keyWord: "" }, true);
        });
        $("#dataItemContainer #keyWord").keypress(function (e) {
            refreshDataItemData();
        });

        $("#dataItemContainer #btn_add").click(function () {
            $gridTable_dataItem.openFrameWindow({
                title: "新增-字典项",
                width: 900,
                height: 600,
                level: 1,
                url: '/Base/DataItems/DataItemForm',
                data: null,
                hasMaxButton: true,
                hasMinButton: true,
                hasCloseButton: true,
                parentFrameId: top.jkf.iFrameId,
                isWizard: false,
                buttonGroup: [
                    {
                        buttonId: "button_save",
                        buttonText: "保存",
                        buttonClickAction: function () {
                            var openWin = top.jkf.dataItemIframe.contentWindow;
                            openWin.saveForm();
                        }
                    }
                ],
            })

        })

        $("#dataItemContainer #btn_edit").click(function () {
            var dataItemId = $gridTable_dataItem.getSelectRowValue("DataItemId");
            if (!dataItemId) {
                top.jkf.showTips('没有选中任何行', 3);
                return;
            }

            var dataItem = $gridTable_dataItem.getSelectedRowData(dataItemId);

            if (dataItem == null) {
                top.jkf.showTips("数据出错", 2);
                return;
            }

            $gridTable_dataItem.openFrameWindow({
                title: "编辑字典项",
                width: 900,
                height: 600,
                level: 1,
                url: '/Base/DataItems/DataItemForm?dataItemId=' + dataItemId,
                data: { dataItem: dataItem },
                hasMaxButton: true,
                hasMinButton: true,
                hasCloseButton: true,
                parentFrameId: top.jkf.iFrameId,
                isWizard: false,
                buttonGroup: [
                    {
                        buttonId: "button_save",
                        buttonText: "保存",
                        buttonClickAction: function () {
                            var openWin = top.jkf.dataItemIframe.contentWindow;
                            openWin.saveForm();
                        }
                    }
                ],
            })

        })

        $("#dataItemContainer #btn_remove").click(function () {
            var dataItemId = $gridTable_dataItem.getSelectRowValue("DataItemId");
            if (!dataItemId) {
                top.jkf.showTips('没有选中任何行', 3);
                return;
            }
            top.jkf.confirmFrame("是否确认删除？", function () {

                $.httpPostAsync({
                    url: '/Base/DataItems/RemoveDataItemForm', param: { dataItemId: dataItemId }
                }, function (res) {
                    if (res.code == 200) {
                        top.jkf.showTips("删除成功！", 1);
                        refreshDataItemData();
                    } else {
                        top.jkf.showTips(res.errMsg, 2);
                    }

                })
            })

        })


        $("#dataItemDetailContainer #btn_search").click(function () {
            refreshDataItemDetailData();
        });
        $("#dataItemDetailContainer #btn_refresh").click(function () {
            if (selectDataItemId != "")
                $gridTable_dataItem.getRemoteData({ keyWord: "", dataItemId: selectDataItemId }, true);
        });
        $("#dataItemDetailContainer #keyWord").keypress(function (e) {
            refreshDataItemDetailData();
        });

        $("#dataItemDetailContainer #btn_add").click(function () {

            if (selectDataItemId == "") {
                top.jkf.showTips("请双击选择字典项", 3);
                return;
            }

            var dataItem = $gridTable_dataItem.getSelectedRowData(selectDataItemId);

            if (dataItem.Target != 2) {
                top.jkf.showTips("非子节点字典项", 3);
                return;
            }

            $gridTable_dataItemDetail.openFrameWindow({
                title: "新增-字典明细项(" + dataItem.ItemName + ")",
                width: 900,
                height: 600,
                level: 1,
                url: '/Base/DataItems/DataItemDetailForm?dataItemId=' + selectDataItemId,
                data: null,
                hasMaxButton: true,
                hasMinButton: true,
                hasCloseButton: true,
                parentFrameId: top.jkf.iFrameId,
                isWizard: false,
                buttonGroup: [
                    {
                        buttonId: "button_save",
                        buttonText: "保存",
                        buttonClickAction: function () {
                            var openWin = top.jkf.dataItemDetailIframe.contentWindow;
                            openWin.saveForm();
                        }
                    }
                ],
            })

        })

        $("#dataItemDetailContainer #btn_edit").click(function () {
            var dataItemDetailId = $gridTable_dataItemDetail.getSelectRowValue("DataItemDetailId");
            if (!dataItemDetailId) {
                top.jkf.showTips('没有选中任何行', 3);
                return;
            }

            var dataItemDetail = $gridTable_dataItemDetail.getSelectedRowData(dataItemDetailId);

            if (dataItemDetail == null) {
                top.jkf.showTips("数据出错", 2);
                return;
            }

            if (selectDataItemId == "") {
                top.jkf.showTips("请双击选择字典项", 3);
                return;
            }


            var dataItem = $gridTable_dataItem.getSelectedRowData(selectDataItemId);

            if (dataItem.Target != 2) {
                top.jkf.showTips("非子节点字典项", 3);
                return;
            }
            $gridTable_dataItemDetail.openFrameWindow({
                title: "编辑-字典明细项(" + dataItem.ItemName + ")",
                width: 900,
                height: 600,
                level: 1,
                url: '/Base/DataItems/DataItemDetailForm?dataItemDetailId=' + dataItemDetailId + "&dataItemId=" + selectDataItemId,
                data: { dataItemDetail: dataItemDetail },
                hasMaxButton: true,
                hasMinButton: true,
                hasCloseButton: true,
                parentFrameId: top.jkf.iFrameId,
                isWizard: false,
                buttonGroup: [
                    {
                        buttonId: "button_save",
                        buttonText: "保存",
                        buttonClickAction: function () {
                            var openWin = top.jkf.dataItemDetailIframe.contentWindow;
                            openWin.saveForm();
                        }
                    }
                ],
            })

        })

        $("#dataItemDetailContainer #btn_remove").click(function () {
            var dataItemDetailId = $gridTable_dataItemDetail.getSelectRowValue("DataItemDetailId");
            if (!dataItemDetailId) {
                top.jkf.showTips('没有选中任何行', 3);
                return;
            }
            top.jkf.confirmFrame("是否确认删除？", function () {

                $.httpPostAsync({
                    url: '/Base/DataItems/RemoveDataItemDetailForm', param: { dataItemDetailId: dataItemDetailId }
                }, function (res) {
                    if (res.code == 200) {
                        top.jkf.showTips("删除成功！", 1);
                        refreshDataItemDetailData();
                    } else {
                        top.jkf.showTips(res.errMsg, 2);
                    }

                })
            })

        })



        refreshDataItemData();

    })

    function refreshDataItemData() {
        var keyWord = $("#dataItemContainer #keyWord").val().trim();
        $gridTable_dataItem.getRemoteData({ keyWord: keyWord }, true);
    }

    function refreshDataItemDetailData() {
        if (selectDataItemId != "") {
            var keyWord = $("#dataItemDetailContainer #keyWord").val().trim();
            $gridTable_dataItemDetail.getRemoteData({ keyWord: keyWord, dataItemId: selectDataItemId }, true);
        }
    }


</script>

